<div class="intro">
    <nav class="navbar navbar-expand-sm navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Brand -->
        <a class="navbar-brand" href="{{url_for('main.index')}}">quotes</a>
        
        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
        <ul class="navbar-nav">
            {%  if current_user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">Account</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.blogs')}}">Create Blog</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.logout')}}">logout</a>
                    </li>
            {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.login')}}">login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
        {% endif %}
        </li>
        </ul>
        </nav>

        
</div>
